html
	head
		title Signup
	body
		if(message)
			h4 #{message}
		form(action="/signup" method="POST")
			input(name="userid" type="text" required placeholder="User ID")
			input(name="password" type="password" required placeholder="Password")
			button(type="submit") Sign Up